
memorygame/.vs/memorygame/v15/Server/sqlite3/storage.ide
memorygame/.vs/memorygame/v15/Server/sqlite3/storage.ide-shm
memorygame/.vs/memorygame/v15/Server/sqlite3/storage.ide-wal
*.ide-shm
*.ide-wal
